In [10]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date, datetime, timedelta
import time
import re

In [3]:
def getSoup(url: str) -> BeautifulSoup:
    page = requests.get(url)
    bs = BeautifulSoup(page.content, "html.parser")
    page.close()
    
    return bs

In [27]:
url = "https://www.billboard.com/charts/hot-100/"
soup = getSoup(url)

columns = ["rank", "track", "artist", "last_rank", "peak_rank", "wks_on_chart"]

In [84]:
data = []
table = soup.find_all("div", class_="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max")
listings = table[0].find_all("div", class_="o-chart-results-list-row-container")


unordered = listings[91].find("ul", class_="o-chart-results-list-row")
creds = listings[0].find_all(class_="o-chart-credits")
print()
flat = []
skipover = ['RE-','RE', 'ENTRY', 'NEW']
for x in unordered.find_all('li', class_="o-chart-results-list__item"): 
    s = x.text.strip()
    
    if (s): 
        s = re.findall(r"\b.+\b", s)
        # print([y for y in s if y not in skipover or y is None])
        a = [y for y in s if y not in skipover or y is None]
        print([type(z) for z in a])
        data.append([z if len(z) else '-' for z in a ])
    # print(x)
    # print("\n\n\n")
    # print(title)


# unordered.find_all('li', class_="o-chart-results-list__item")
# data = data[:-3]
print(data)
# flat = [item for sublist in data if len(sublist) == 0 sublist.append("") for item in sublist]
for i, sublist in enumerate(data): 
    if len(sublist) == 0 & i!= 2: 
        sublist.append("-")
    for item in sublist: 
        flat.append(item)
if flat[1] == "-": 
    flat.pop(1)

flat

[<class 'str'>]
[]
[<class 'str'>, <class 'str'>]
[]
[<class 'str'>]
[<class 'str'>]
[]
[<class 'str'>]
[<class 'str'>]
[['92'], [], ['Tennessee Fan', 'Morgan Wallen'], [], ['49'], ['3'], [], ['49'], ['3']]

['92', 'Tennessee Fan', 'Morgan Wallen', '-', '49', '3', '-', '49', '3']

In [93]:
rankings = []
for l in listings: 
    
    d = []
    unordered = l.find("ul", class_="o-chart-results-list-row")
    flat = []
    skipover = ['RE-','RE', 'ENTRY', 'NEW']

    for x in unordered.find_all('li', class_="o-chart-results-list__item"): 
        s = x.text.strip()
        if (s): 
            s = re.findall(r"\b.+\b", s)
            a = [y for y in s if y not in skipover or y is None]
            d.append([z if len(z) else '-' for z in a ])

    for i, sublist in enumerate(d): 
        if len(sublist) == 0 & i!= 2: 
            sublist.append("-")
        for item in sublist: 
            flat.append(item)
    if flat[1] == "-": 
        flat.pop(1)

    flat = flat[:-3]
    rankings.append(flat)

# rankings[95]
df = pd.DataFrame(rankings, columns=columns)
df

,rank,track,artist,last_rank,peak_rank,wks_on_chart
0,1,Flowers,Miley Cyrus,1,1,3
1,2,Kill Bill,SZA,2,2,8
2,3,Creepin,"Metro Boomin, The Weeknd & 21 Savage",4,3,9
3,4,Anti-Hero,Taylor Swift,3,1,15
4,5,Unholy,Sam Smith & Kim Petras,5,1,19
...,...,...,...,...,...,...
95,96,Hey Mor,Ozuna Featuring Feid,-,96,1
96,97,Gato de Noche,Nengo Flow & Bad Bunny,85,60,6
97,98,Heart To Heart,Mac DeMarco,83,83,3
98,99,Never Gonna Not Dance Again,P!nk,-,99,1
99,100,Dancin' In The Country,Tyler Hubbard,-,100,1

In [6]:
a = datetime.now().date()
difference = timedelta(days=7)

print(a)
print(a - difference)

time.sleep(0.3) ## Buffer

2023-02-12
2023-02-05